<div id="page_wrapper">
<h1> All Users! </h1>

<div class="row">
<% @users.each do |user| %>
	
		
	<div class="well col-2">
			<p> <%= link_to user.username, user_path(user) %></p>
	</div>
		
	

<% end %>
</div>


</div>