<div id="page_wrapper">
<% if @user != current_user %>
<h1> Hey, Welcome To <%= @user.username %>  Page!</h1>
<h2>Here are <%= @user.username %>'s' snippits!</h2>
<% else %>
<h1> Hey! Welcome To Your Account <%= @user.username %></h1>
<h2>Here are your snippits... </h2>
<% end %>
</div>

<%= render 'snipits/snipit', obj: @user.snipits.order('created_at DESC') %>




