<div id="page_wrapper">
<h1>New Timeclock</h1>
<p> This tool will calculate the time you are off of work. Since it rounds from 3 minutes. </p>
<%= render 'form' %>
<p> <br/> </p>
<p> <br/> </p>
<p> <br/> </p>
<p> <br/> </p>
<p> <br/> </p>
<p> <%= link_to 'Back', timeclocks_path %> </p>

</div>
