<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "gio.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Giovani Camara</h1>
		<p>Welcome to this PBHS Snipit App</p>
		<p>This app was built to help me do content dev work faster.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on instagram at <a href="http://instagram.com/llama_lovergio">@llama_lovergio</a> or on the web at <a href="http://giovanicamara.com">GiovaniCamara.com</a>.</p>
	</div>
</div>