<div id="pbhs_short">
    <div id="page_wrapper">
        <h1>PBHS SHORTCODES</h1>
    <p>This post contains a collection of our shortcodes. They have been grouped into the following categories:</p>
    <div class="nav-list">
    <ul>
    <li><a href="#htmod">HT Modules</a></li>
    <li><a href="#minimod">Mini Modules</a></li>
    <li><a href="#silent">Silent Animations</a></li>
    <li><a href="#maps">Maps</a></li>
    <li><a href="#social">Social Media</a></li>
    <li><a href="#df">Demandforce</a></li>
    <li><a href="#truform-assist-flash">TruForm Assist Flash Link</a></li>
    <li><a href="#gallery">Image Galleries</a></li>
    <li><a href="#gform">Gravity Forms</a></li>
    <li><a href="#bootstrap-grid">Bootstrap Rows and Spans (Grid/Column Layouts)</a></li>
    <li><a href="#collapsible">Collapsible Content Areas</a></li>
    <li><a href="#ada-library">ADA Patient Education Library</a></li>
    <li><a href="#ada-library-button">ADA Patient Education Library Button</a></li>
    <li><a href="#fullname">Full Name</a></li>
    <li><a href="#officehours">Office Hours</a></li>
    <li><a href="#informedConsentList">Informed Consent Videos (List Version)</a></li>
    <li><a href="#colorpicker">Braces Color Picker</a></li>
    </ul>
    </div>
<hr>
    <h2><a id="htmod" name="htmod"></a>Human Touch Modules</h2>
    <p>All of the following modules have align attributes available to them. Available alignments include: <strong>left</strong>, <strong>right</strong>, <strong>center</strong>, and <strong>none</strong>.</p>
    <h3>Example</h3>

    <label for="website"></label>
    <input readonly type="text" id="Ht_IMPLANT_center" data-copytarget="#Ht_IMPLANT_center" value="[HT_IMPLANT align=center]">
    <button class="button" data-copytarget="#Ht_IMPLANT_center" style="padding: .6em 0.5em;">copy</button>

    <br/>
    <br/>
    <br/>
    <br/>
    <h3>Shortcodes</h3>

    <label for="website"></label>
    <input readonly type="text" id="HT_IMPLANT" data-copytarget="#HT_IMPLANT" value="[HT_IMPLANT]">
    <button class="button" data-copytarget="#HT_IMPLANT" style="padding: .6em 0.5em;">copy</button>

    <label for="website"></label>
    <input readonly type="text" id="HT_WISDOM" data-copytarget="#HT_WISDOM" value="[HT_WISDOM]">
    <button class="button" data-copytarget="#HT_WISDOM" style="padding: .6em 0.5em;">copy</button>

    <label for="website"></label>
    <input readonly type="text" id="HT_ORTHO" data-copytarget="#HT_ORTHO" value="[HT_ORTHO]">
    <button class="button" data-copytarget="#HT_ORTHO" style="padding: .6em 0.5em;">copy</button>


    <label for="website"></label>
    <input readonly type="text" id="HT_COSMETIC" data-copytarget="#HT_COSMETIC" value="[HT_COSMETIC]">
    <button class="button" data-copytarget="#HT_COSMETIC" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="HT_GRAFTING" data-copytarget="#HT_GRAFTING" value="[HT_GRAFTING]">
    <button class="button" data-copytarget="#HT_GRAFTING" style="padding: .6em 0.5em;">copy</button>



    <label for="twitter"></label>
    <input readonly type="text" id="HT_PERIO" data-copytarget="#HT_PERIO" value="[HT_PERIO]">
    <button class="button" data-copytarget="#HT_PERIO" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="HT_ENDO" data-copytarget="#HT_ENDO" value="[HT_ENDO]">
    <button class="button" data-copytarget="#HT_ENDO" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="HT_ORTHODONTIC" data-copytarget="#HT_ORTHODONTIC" value="[HT_ORTHODONTIC]">
    <button class="button" data-copytarget="#HT_ORTHODONTIC" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="HT_INFORMED_CONSENT" data-copytarget="#HT_INFORMED_CONSENT" value="[HT_INFORMED_CONSENT]">
    <button class="button" data-copytarget="#HT_INFORMED_CONSENT" style="padding: .6em 0.5em;">copy</button>


     
     <br/>
    <br/>
    <br/>
    <br/>
    <hr>

     <h2><a id="minimod" name="minimod"></a>Mini Modules</h2>
    <p>All of the following modules have align attributes available to them. Available alignments include: <strong>left</strong>, <strong>right</strong>, <strong>center</strong>, and <strong>none</strong>. The default alignment is <strong>right</strong>.</p>
    <h3>Example</h3>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_IMPLANT_left" data-copytarget="#MINI_IMPLANT_left" value="[MINI_IMPLANT align=left]">
    <button class="button" data-copytarget="#MINI_IMPLANT_left" style="padding: .6em 0.5em;">copy</button>

     
     <br/>
    <br/>
    <br/>
    <br/>

    <h3>Shortcodes</h3>
     
    <label for="twitter"></label>
    <input readonly type="text" id="MINI_IMPLANT" data-copytarget="#MINI_IMPLANT" value="[MINI_IMPLANT]">
    <button class="button" data-copytarget="#MINI_IMPLANT" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_WISDOM" data-copytarget="#MINI_WISDOM" value="[MINI_WISDOM]">
    <button class="button" data-copytarget="#MINI_WISDOM" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_ORTHO" data-copytarget="#MINI_ORTHO" value="[MINI_ORTHO]">
    <button class="button" data-copytarget="#MINI_ORTHO" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_TMJ" data-copytarget="#MINI_TMJ" value="[MINI_TMJ]">
    <button class="button" data-copytarget="#MINI_TMJ" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_GRAFTING" data-copytarget="#MINI_GRAFTING" value="[MINI_GRAFTING]">
    <button class="button" data-copytarget="#MINI_GRAFTING" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_GUMS" data-copytarget="#MINI_GUMS" value="[MINI_GUMS]">
    <button class="button" data-copytarget="#MINI_GUMS" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_PERIO" data-copytarget="#MINI_PERIO" value="[MINI_PERIO]">
    <button class="button" data-copytarget="#MINI_PERIO" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_SCALING_ROOT" data-copytarget="#MINI_SCALING_ROOT" value="[MINI_SCALING_ROOT]">
    <button class="button" data-copytarget="#MINI_SCALING_ROOT" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_BRACES" data-copytarget="#MINI_BRACES" value="[MINI_BRACES]">
    <button class="button" data-copytarget="#MINI_BRACES" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_RETAINERS" data-copytarget="#MINI_RETAINERS" value="[MINI_RETAINERS]">
    <button class="button" data-copytarget="#MINI_RETAINERS" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="MINI_ORTHO_ORAL_HYGIENE" data-copytarget="#MINI_ORTHO_ORAL_HYGIENE" value="[MINI_ORTHO_ORAL_HYGIENE]">
    <button class="button" data-copytarget="#MINI_ORTHO_ORAL_HYGIENE" style="padding: .6em 0.5em;">copy</button>

    <br/>
    <br/>
    <br/>
    <br/>
<hr>
    <h2><a id="silent" name="silent"></a>Silent Animations</h2>
    <p>All of the following modules have align attributes available to them. Available alignments include: <strong>left</strong>, <strong>right</strong>, <strong>center</strong>, and <strong>none</strong>.</p>
    <h3>Example</h3>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_IMPLANT_left" data-copytarget="#SA_IMPLANT_left" value="[SA_IMPLANT align=left]">
    <button class="button" data-copytarget="#SA_IMPLANT_left" style="padding: .6em 0.5em;">copy</button>

     
     <br/>
    <br/>
    <br/>
    <br/>


    <h3>Shortcodes</h3>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_IMPLANT" data-copytarget="#SA_IMPLANT" value="[SA_IMPLANT]">
    <button class="button" data-copytarget="#SA_IMPLANT" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_TEETH_IN_HOUR" data-copytarget="#SA_TEETH_IN_HOUR" value="[SA_TEETH_IN_HOUR]">
    <button class="button" data-copytarget="#SA_TEETH_IN_HOUR" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_GRAFTING" data-copytarget="#SA_GRAFTING" value="[SA_GRAFTING]">
    <button class="button" data-copytarget="#SA_GRAFTING" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_SINUS_LIFT" data-copytarget="#SA_SINUS_LIFT" value="[SA_SINUS_LIFT]">
    <button class="button" data-copytarget="#SA_SINUS_LIFT" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_SOCKET_PRESERVATION" data-copytarget="#SA_SOCKET_PRESERVATION" value="[SA_SOCKET_PRESERVATION]">
    <button class="button" data-copytarget="#SA_SOCKET_PRESERVATION" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_WISDOM" data-copytarget="#SA_WISDOM" value="[SA_WISDOM]">
    <button class="button" data-copytarget="#SA_WISDOM" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_ORTHO_TOP" data-copytarget="#SA_ORTHO_TOP" value="[SA_ORTHO_TOP]">
    <button class="button" data-copytarget="#SA_ORTHO_TOP" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_ORTHO_BOTTOM" data-copytarget="#SA_ORTHO_BOTTOM"  value="[SA_ORTHO_BOTTOM]">
    <button class="button" data-copytarget="#SA_ORTHO_BOTTOM" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_TMJ" data-copytarget="#SA_TMJ" value="[SA_TMJ]">
    <button class="button" data-copytarget="#SA_TMJ" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_FACIAL_TRAUMA" data-copytarget="#SA_FACIAL_TRAUMA" value="[SA_FACIAL_TRAUMA]">
    <button class="button" data-copytarget="#SA_FACIAL_TRAUMA" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_SLEEP_APNEA" data-copytarget="#SA_SLEEP_APNEA" value="[SA_SLEEP_APNEA]">
    <button class="button" data-copytarget="#SA_SLEEP_APNEA" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_IMPACTED_CANINES" data-copytarget="#SA_IMPACTED_CANINES" value="[SA_IMPACTED_CANINES]">
    <button class="button" data-copytarget="#SA_IMPACTED_CANINES" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_FILLINGS" data-copytarget="#SA_FILLINGS" value="[SA_FILLINGS]">
    <button class="button" data-copytarget="#SA_FILLINGS" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_AMALGAM" data-copytarget="#SA_AMALGAM" value="[SA_AMALGAM]">
    <button class="button" data-copytarget="#SA_AMALGAM" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_SEALANTS"  data-copytarget="#SA_SEALANTS" value="[SA_SEALANTS]">
    <button class="button" data-copytarget="#SA_SEALANTS" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_DENTURES" data-copytarget="#SA_DENTURES" value="[SA_DENTURES]">
    <button class="button" data-copytarget="#SA_DENTURES" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_BRIDGES" data-copytarget="#SA_BRIDGES" value="[SA_BRIDGES]">
    <button class="button" data-copytarget="#SA_BRIDGES" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_CROWNS" data-copytarget="#SA_CROWNS" value="[SA_CROWNS]">
    <button class="button" data-copytarget="#SA_CROWNS" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_EXTRACTIONS" data-copytarget="#SA_EXTRACTIONS" value="[SA_EXTRACTIONS]">
    <button class="button" data-copytarget="#SA_EXTRACTIONS" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_GUM_LASER_THERAPY" data-copytarget="#SA_GUM_LASER_THERAPY" value="[SA_GUM_LASER_THERAPY]">
    <button class="button" data-copytarget="#SA_GUM_LASER_THERAPY" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_LANAP" data-copytarget="#SA_LANAP" value="[SA_LANAP]">
    <button class="button" data-copytarget="#SA_LANAP" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_ROOT_CANAL" data-copytarget="#SA_ROOT_CANAL" value="[SA_ROOT_CANAL]">
    <button class="button" data-copytarget="#SA_ROOT_CANAL" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_BONDING"  data-copytarget="#SA_BONDING" value="[SA_BONDING]">
    <button class="button" data-copytarget="#SA_BONDING" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_VENEER" data-copytarget="#SA_VENEER" value="[SA_VENEER]">
    <button class="button" data-copytarget="#SA_VENEER" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_INLAY_ONLAY" data-copytarget="#SA_INLAY_ONLAY" value="[SA_INLAY_ONLAY]">
    <button class="button" data-copytarget="#SA_INLAY_ONLAY" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_WHITENING" data-copytarget="#SA_WHITENING" value="[SA_WHITENING]">
    <button class="button" data-copytarget="#SA_WHITENING" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_CEREC" data-copytarget="#SA_CEREC" value="[SA_CEREC]">
    <button class="button" data-copytarget="#SA_CEREC" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_GUM_DISEASE" data-copytarget="#SA_GUM_DISEASE" value="[SA_GUM_DISEASE]">
    <button class="button" data-copytarget="#SA_GUM_DISEASE" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_CROWN_LENGTHENING" data-copytarget="#SA_CROWN_LENGTHENING" value="[SA_CROWN_LENGTHENING]">
    <button class="button" data-copytarget="#SA_CROWN_LENGTHENING" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_GUM_GRAFTING" data-copytarget="#SA_GUM_GRAFTING"  value="[SA_GUM_GRAFTING]">
    <button class="button" data-copytarget="#SA_GUM_GRAFTING" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_PULP" data-copytarget="#SA_PULP" value="[SA_PULP]">
    <button class="button" data-copytarget="#SA_PULP" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="[SA_SINUS_COMMUNICATION]" data-copytarget="#[SA_SINUS_COMMUNICATION]" value="[SA_SINUS_COMMUNICATION]">
    <button class="button" data-copytarget="#[SA_SINUS_COMMUNICATION]" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_ENDO_RETREATMENT" data-copytarget="#SA_ENDO_RETREATMENT" value="[SA_ENDO_RETREATMENT]">
    <button class="button" data-copytarget="#SA_ENDO_RETREATMENT" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_APICOECTOMY" data-copytarget="#SA_APICOECTOMY" value="[SA_APICOECTOMY]">
    <button class="button" data-copytarget="#SA_APICOECTOMY" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_CRACKED_TEETH"  data-copytarget="#SA_CRACKED_TEETH" value="[SA_CRACKED_TEETH]">
    <button class="button" data-copytarget="#SA_CRACKED_TEETH" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_DISLODGED" data-copytarget="#SA_DISLODGED" value="[SA_DISLODGED]">
    <button class="button" data-copytarget="#SA_DISLODGED" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_AVULSED" data-copytarget="#SA_AVULSED"  value="[SA_AVULSED]">
    <button class="button" data-copytarget="#SA_AVULSED" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_INFECTION" data-copytarget="#SA_INFECTION" value="[SA_INFECTION]">
    <button class="button" data-copytarget="#SA_INFECTION" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_INITIAL" data-copytarget="#SA_INITIAL" value="[SA_INITIAL]">
    <button class="button" data-copytarget="#SA_INITIAL" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_POSTOP" data-copytarget="#SA_POSTOP" value="[SA_POSTOP]">
    <button class="button" data-copytarget="#SA_POSTOP" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_WELCOME" data-copytarget="#SA_WELCOME"  value="[SA_WELCOME]">
    <button class="button" data-copytarget="#SA_WELCOME" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_ALL_ON_FOUR" data-copytarget="#SA_ALL_ON_FOUR" value="[SA_ALL_ON_FOUR]">
    <button class="button" data-copytarget="#SA_ALL_ON_FOUR" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_LAPIP" data-copytarget="#SA_LAPIP" value="[SA_LAPIP]">
    <button class="button" data-copytarget="#SA_LAPIP" style="padding: .6em 0.5em;">copy</button>

    <label for="twitter"></label>
    <input readonly type="text" id="SA_DEPIGMENTATION" data-copytarget="#SA_DEPIGMENTATION"  value="[SA_DEPIGMENTATION]">
    <button class="button" data-copytarget="#SA_DEPIGMENTATION" style="padding: .6em 0.5em;">copy</button>

    <br><br>
    <br><br>

    <hr>

    <h2 id="maps">Maps</h2>
    <p>Use the <strong></strong></p><div class="pbhs-edit-generated" data-shortcode="MAP"><strong>[MAP]</strong></div> shortcode to embed Map services. Defaults to Google Maps if a specific src is not provided. Use the <strong><div class="pbhs-edit-generated" data-shortcode="STATIC_MAP">[STATIC_MAP]</div></strong> shortcode to generate a static image map (Google Maps Only).<p></p>
    <h3>MAP Attributes</h3>
    <p><strong>container</strong>(optional) – Whether or not to include the .highlight div wrapper</p>
    <ul>
    <li><em>Default:</em> true</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <p><strong>address</strong>(optional) – Address To Reference in the Map</p>
    <ul>
    <li><em>Default:</em> Address saved in the website admin</li>
    </ul>
    <p><strong>zoom</strong>(optional) – Map zoom level (Google Maps only)<br>
    <small>Decrease the number to zoom out, Increase to zoom in</small></p>
    <ul>
    <li><em>Default:</em> 15</li>
    </ul>
    <p><strong>cid</strong>(optional) – Google Business CID number</p>
    <ul>
    <li><em>Default:</em> none</li>
    </ul>
    <p><strong>src</strong>(optional) – Full src url to use in the iframe (Use when trying to load a map service other than Google Maps)<br>
    <small>This attribute will override the address, zoom, and cid attributes</small></p>
    <ul>
    <li><em>Default:</em> Google Maps src</li>
    </ul>
    <p><strong>id</strong>(optional) – The 4-digit Office ID that the location is assigned in Admin &gt; Settings<br>
    <small>This attribute is overridden by the address, zoom, and cid attributes</small></p>
    <ul>
    <li><em>Default:</em> none</li>
    </ul>
    <p><strong>help_text</strong>(optional) -Whether or not to include help text for linking directly to the map service</p>
    <ul>
    <li><em>Default:</em> true</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <p><strong>searchbar</strong>(optional) – Whether or not to include the directions search form under the Map</p>
    <ul>
    <li><em>Default:</em> true</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <p><strong>width</strong>(optional) – Map Width</p>
    <ul>
    <li><em>Default:</em> 100%</li>
    </ul>
    <p><strong>height</strong>(optional) – Map Height</p>
    <ul>
    <li><em>Default:</em> 100%</li>
    </ul>
    <p><strong>class</strong>(optional) – Additional class names to add to the container div</p>
    <ul>
    <li><em>Default:</em> none</li>
    </ul>
    <h3>STATIC_MAP Attributes</h3>
    <p><strong>address</strong>(optional) – Address To Reference in the Map</p>
    <ul>
    <li><em>Default:</em> Address saved in the website admin</li>
    </ul>
    <p><strong>width</strong>(optional) – Image Width</p>
    <ul>
    <li><em>Default:</em> 150</li>
    </ul>
    <p><strong>height</strong>(optional) – Image Height</p>
    <ul>
    <li><em>Default:</em> 150</li>
    </ul>
    <p><strong>zoom</strong>(optional) – Map zoom level<br>
    <small>Decrease the number to zoom out, Increase to zoom in</small></p>
    <ul>
    <li><em>Default:</em> 11</li>
    </ul>
    <p><strong>marker</strong>(optional) – Whether or not to include the marker on the image</p>
    <ul>
    <li><em>Default:</em> true</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <p><strong>class</strong>(optional) – Image class names</p>
    <ul>
    <li><em>Default:</em> static-map</li>
    </ul>
    <h3>Examples</h3>
    <p><div class="pbhs-edit-generated" data-address="3785 Brickway Blvd., Santa Rosa, Ca 95403" data-shortcode="MAP">[MAP address="3785 Brickway Blvd., Santa Rosa, Ca 95403"]</div></p>
    <p><div class="pbhs-edit-generated" data-address="3785 Brickway Blvd., Santa Rosa, Ca 95403" data-shortcode="STATIC_MAP">[STATIC_MAP address="3785 Brickway Blvd., Santa Rosa, Ca 95403"]</div></p>
    <hr>
    <h2><a id="social" name="social"></a>Social Media</h2>
    <p>Use the <strong>[ADDTHIS]</strong> short code to display social media icons for like buttons or sharing buttons.</p>
    <h3>Attributes</h3>
    <p><strong>type</strong> – used to select like or sharing button</p>
    <ul>
    <li><em>Default:</em> like</li>
    <li><em>Options:</em> like, share</li>
    <li><em>Example:</em> type=like</li>
    </ul>
    <p><strong>custom</strong> – used to pass a custom set of buttons to display. To use multiple custom buttons, separate each option with a space.</p>
    <ul>
    <li><em>Default:</em> false (display default button selections)</li>
    <li><em>Options:</em> facebook, twitter, google, email, favorites, more (email and favorites are only usable if button<strong> type</strong> is set to <em>share</em>)</li>
    <li><em>Example:</em> custom=”facebook twitter more”</li>
    </ul>
    <p><strong>size</strong> – used to select small or large buttons (Only usable if button<strong> type</strong> is set to <em>share</em>)</p>
    <ul>
    <li><em>Default:</em> large</li>
    <li><em>Options:</em> small, large</li>
    <li><em>Example:</em> size=small</li>
    </ul>
    <p><strong>likecouter </strong>– used to show and hide counter bubble for like buttons (Only usable if button<strong> type</strong> is set to <em>like</em>)</p>
    <ul>
    <li><em>Default:</em> no</li>
    <li><em>Options:</em> yes, no</li>
    <li><em>Example:</em> likecounter=yes</li>
    </ul>
    <h3>Examples</h3>
    <h4>Simple</h4>
    <p>[ADDTHIS]</p>
    <h4>Customized</h4>
    <p>[ADDTHIS type=share custom="facebook twitter email more" size=small]</p>
    <p><a id="df" name="df"></a></p>
    <hr>
    <h2><a id="socialicons" name="socialicons"></a>Social Icons</h2>
    <p>Use the <strong>[SOCIAL_ICONS]</strong> short code to display a row of social icons.</p>
    <h3>Attributes</h3>
    <p><strong>links: –</strong>Used to link to url.<strong><br>
    </strong></p>
    <ul>
    <li>facebook</li>
    <li>twitter</li>
    <li>google plus</li>
    <li>youtube</li>
    <li>blog</li>
    <li>reviews</li>
    </ul>
    <p>The base or domain of the link is prefilled out except for blog and reviews.</p>
    <p>Example facebook=PBHSInc will link to: https://www.facebook.com/PBHSInc</p>
    <p>If you do not fill out a link attribute it will not display icon, so if you don’t want a youtube, just don’t add it’s attribute.</p>
    <p><strong>size</strong> – Used to change size of icons.</p>
    <ul>
    <li><em>Default:</em> 32</li>
    <li><em>Options:</em> 1-64</li>
    <li><em>Example:</em> size=42</li>
    </ul>
    <p><strong>class</strong> – Used to add custom class for styling</p>
    <ul>
    <li><em>Default:</em> none</li>
    <li><em>Options:</em> any single word</li>
    <li><em>Example:</em> class=footerIcons</li>
    </ul>
    <h3>Example</h3>
    <p> [SOCIAL_ICONS
            facebook=PBHSInc
            twitter=dentistwebsites
            google=+PbhsInc/posts
            youtube=playlist?list=PLE99150DDD02E920C
            blog=/blog/
            reviews=/reviews/
            ]</p>
            <hr>
    <h2>Demandforce</h2>
    <p>Use the <strong>[DEMANDFORCE]</strong> short code to display Demandforce Reviews and Scheduler widgets or buttons.</p>
    <h3>Attributes</h3>
    <p><strong>type</strong> – Used to choose between demandforce reviews or scheduler</p>
    <ul>
    <li><em>Default:</em> reviews</li>
    <li><em>Options:</em> reviews, scheduler</li>
    <li><em>Example:</em> type=scheduler</li>
    </ul>
    <p><strong>display</strong> – Used to choose between placing the widget directly on the page or inserting a button that will open a pop up window<br>
    <span style="color: red;"><strong>IMPORTANT!:</strong> Using the “widget” type requires that the <strong>url</strong> attribute is also filled out.<br>
    <strong>IMPORTANT!:</strong> Using the “button” type requires the <strong>exid</strong> attribute to be filled out.<br>
    <strong>SEE url AND exid ATTRIBUTE NOTES BELOW</strong></span></p>
    <ul>
    <li><em>Default:</em> widget</li>
    <li><em>Options:</em> widget, button</li>
    <li><em>Example:</em> display=button</li>
    </ul>
    <p><strong>url</strong> – The doctors Demandforce page url</p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Example:</em> url=http://www.demandforce.com/b/Avalon-Family-and-Cosmetic-Dentistry</li>
    </ul>
    <p><strong>exid</strong> – The doctors Demandforce exid (typically the ending part of their page url. e.g. Avalon-Family-and-Cosmetic-Dentistry in the <strong>url</strong> example above)</p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Example:</em> exid=Avalon-Family-and-Cosmetic-Dentistry</li>
    </ul>
    <h3>Examples</h3>
    <h4><strong>Widget</strong></h4>
    <p>Displays a schedular widget on the page</p>
    <p>[DEMANDFORCE type=scheduler url=http://www.demandforce.com/b/Avalon-Family-and-Cosmetic-Dentistry]</p>
    <h4><strong>Button</strong></h4>
    <p>Displays a reviews button that opens their reviews widget in a shadowbox window</p>
    <p>[DEMANDFORCE display=button exid=Avalon-Family-and-Cosmetic-Dentistry]</p>
    <hr>
    <h2 id="truform-assist-flash">TruForm Assist Flash Link</h2>
    <p>Use the <strong>[TRUFORM_ASSIST]</strong> short code to display the TruForm Assist Flash based link</p>
    <h3>Attributes</h3>
    <p><strong>url</strong>(required) – Used to specify the link url for the button</p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Example:</em> url=”https://www.truformassist.com/client/Main.aspx?237″</li>
    </ul>
    <h3>Examples</h3>
    <p>[TRUFORM_ASSIST url="https://www.truformassist.com/client/Main.aspx?237"]</p>
    <p><a id="gallery" name="gallery"></a></p>
    <hr>
    <h2>Image Galleries</h2>
    <p class="wp-gallery mceItem" title="gallery">Use the</p>
    <p><div class="pbhs-edit-generated" data-shortcode="gallery">[gallery]</div></p>
    <p>short code to display image galleries. By default, image thumbnails are shown in a column layout which will open up the full sized image in a shadowbox gallery when clicked. By using type=”slider”, an image gallery slider will be output instead.</p>
    <p>The images can be easily managed using the built in <a href="http://wpmu.org/wordpress-gallery/" class="external-link">wordpress media manager</a> on the Edit Page dashboard. For more information about using the wordpress media manager see this post <a href="http://wpmu.org/wordpress-gallery/" class="external-link">How to Create WordPress Photo Galleries with the New 3.5 Media Manager</a>.</p>
    <h3>Attributes</h3>
    <p><strong>ids</strong>(optional) – A list of image ids to be used in the gallery</p>
    <ul>
    <li><em>Default:</em> false – (if no image ids are provided, the shortcode will default to all the images currently attached to the page)</li>
    <li><em>Example:</em> ids=”30,31,32,34″</li>
    </ul>
    <p><strong>type</strong>(optional) – What type of gallery to display</p>
    <ul>
    <li><em>Default:</em> default</li>
    <li><em>Options:</em> default, slider, carousel<br>
    <small>(the carousel slider is only available on bootstrap themes)</small></li>
    <li><em>Example:</em> type=”slider”</li>
    </ul>
    <p><strong>transition</strong>(optional) – Type of photo transition<br>
    <small>(only for use with <strong>slider</strong> gallery type)</small></p>
    <ul>
    <li><em>Default:</em> move</li>
    <li><em>Options:</em> move, fade</li>
    <li><em>Example:</em> transition=”fade”</li>
    </ul>
    <p><strong>columns</strong>(optional) – How many columns to use when displaying the images<br>
    <small>(only for use with <strong>default</strong> gallery type)</small></p>
    <ul>
    <li><em>Default:</em> 3</li>
    <li><em>Example:</em> columns=”4″</li>
    </ul>
    <p><strong>height</strong>(optional) – How tall the slider image area should be<br>
    <small>(only for use with <strong>slider</strong> gallery type)</small></p>
    <ul>
    <li><em>Default:</em> 550</li>
    <li><em>Example:</em> height=”600″</li>
    </ul>
    <p><strong>autoplay</strong>(optional) – Whether or not to autoplay the slideshow<br>
    <small>(only for use with <strong>slider</strong> gallery type)</small></p>
    <ul>
    <li><em>Default:</em> true</li>
    <li><em>Options:</em> false</li>
    <li><em>Example:</em> autoplay=”false”</li>
    </ul>
    <p><strong>orderby</strong>(optional) – How to order the images, defaults to the order of the ids provided. Can be passed a value of “rand” to randomize the order of the pictures</p>
    <ul>
    <li><em>Default:</em> NULL (order of the ids provided)</li>
    <li><em>Options:</em> rand</li>
    <li><em>Example:</em> orderby=”rand”</li>
    </ul>
    <p><strong>captions</strong>(optional) – Whether or not to use display captions<br>
    <small>(only for use with <strong>slider</strong> gallery type)</small></p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Options:</em> true</li>
    <li><em>Example:</em> captions=”true”</li>
    </ul>
    <h3>Examples</h3>
    <p><div class="pbhs-edit-generated" data-ids="30,31,32,33" data-type="slider" data-height="600" data-shortcode="gallery">[gallery ids="30,31,32,33" type="slider" height="600"]</div></p>
    <p><a id="gform" name="gform"></a></p>
    <hr>
    <h2>Gravity Form</h2>
    <p>[gravityform id="1"]</p>
    <hr>
    <h2 id="bootstrap-grid">Bootstrap Rows and Spans (Grid/Column Layouts)</h2>
    <p>Use the <strong>[ROW][/ROW] and [SPAN][/SPAN]</strong> shortcodes to build bootstrap grid layouts</p>
    <h3>ROW Attributes</h3>
    <p><strong>classes</strong>(optional) – additional classes to add to the container</p>
    <ul>
    <li><em>Default:</em> NULL</li>
    </ul>
    <h3>SPAN Attributes</h3>
    <p><strong>classes</strong>(optional) – additional classes to add to the container</p>
    <ul>
    <li><em>Default:</em> NULL</li>
    </ul>
    <p><strong>length</strong>(optional) – Size of the span column</p>
    <ul>
    <li><em>Default:</em> 3</li>
    <li><em>Options:</em> 1-12 (A number value from 1 to 12)</li>
    <li><em>Example:</em> length=”4″</li>
    </ul>
    <p><strong>first</strong>(optional) – Adds margin-left: 0 to the div to override default left margin<br>
    <small>Span layouts typically depend on the spans being the first and immediate children of a ROW. This attribute provides a work around for that behavior.</small></p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Options:</em> true, false</li>
    <li><em>Example:</em> first=”true”</li>
    </ul>
    <h3>Example</h3>
    <p><small>Creates a 3 column Layout</small></p>
    <p>[ROW][SPAN length="4"]Your Content Here![/SPAN][SPAN length="4"]Your Content Here![/SPAN][SPAN length="4"]Your Content Here![/SPAN][/ROW]</p>
    <hr>
    <h2 id="collapsible">Collapsible Content Areas</h2>
    <p>Use the <strong>[COLLAPSIBLE][/COLLAPSIBLE]</strong> shortcode to create collapsible content areas</p>
    <h3>Attributes</h3>
    <p><strong>title</strong>(optional) – Title for the collapsible content area</p>
    <ul>
    <li><em>Default:</em> Collapsible (Slide Number)</li>
    </ul>
    <p><strong>siblings</strong>(optional) – How to handle sibling collapsible areas when target collapsible is activated</p>
    <ul>
    <li><em>Default:</em> NULL (do nothing)</li>
    <li><em>Options:</em> hide</li>
    </ul>
    <p><strong>divider</strong>(optional) – Whether or not to output divider underneath collapsible</p>
    <ul>
    <li><em>Default:</em> true</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <h3>Examples</h3>
    <p>[COLLAPSIBLE title="Click Me To See Hidden Content!"]My Cool Collapsible Content![/COLLAPSIBLE]</p>
    <hr>
    <h2 id="ada-library">ADA Patient Education Library</h2>
    <hr>
    <p>Use the <strong>[ADA_LIBRARY]</strong> shortcode to display the ADA Patient Education Library</p>
    <h3>Attributes</h3>
    <p><strong>inverse</strong>(optional) – Reverse the color scheme to a dark grey background and white text</p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <h3>Examples</h3>
    <p>[ADA_LIBRARY inverse="true"]</p>
    <hr>
    <h2 id="ada-library-button">ADA Patient Education Library Button</h2>
    <p>Use the <strong>[ADA_LIBRARY_BUTTON]</strong> shortcode to display a pre styled button linking to your chosen ADA Library Page</p>
    <h3>Attributes</h3>
    <p><strong>page</strong>(required) – url link or page ID for the ADA Library page</p>
    <ul>
    <li><em>Default:</em> NULL</li>
    <li><em>Example:</em> page=”12″ OR page=”http://www.domain.com/ada-patient-education”</li>
    </ul>
    <p><strong>inverse</strong>(optional) – Reverse the color scheme to a dark grey background and white text</p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <p><strong>mini</strong>(optional) – Use the “mini” button layout (provides a smaller logo graphic and reduced text)<br>
    <small>Good to use when trying to place the button in an area with a small width (Such as the sidebar)</small></p>
    <ul>
    <li><em>Default:</em> false</li>
    <li><em>Options:</em> true, false</li>
    </ul>
    <h3>Examples</h3>
    <p>[ADA_LIBRARY_BUTTON page="12" mini="true"]</p>
    <div class="new-additions-july14-2016" style="word-break: keep-all;">
        <hr>
    <h2><a id="fullname" name="fullname"></a>Full Name Shortcode</h2>
    <p>[FULL_NAME]</p>
    <h3>Optional attributes for this shortcode are:</h3>
    <ul>
    <li class="list-group-item"><strong>id</strong> (string): the id of the doctor you wish to render the name for. If no id is specified, all names will be rendered.</li>
    <li><strong>format</strong> (prefix, postfix, nofix): Renders the prefix, postfix or nofix with the name of the doctor.</li>
    <li><strong>link</strong> (true/false): Renders the doctor’s name as a link, or not.</li>
    <li><strong>markup</strong> (true/false): Renders span tags with specific classes around each part of a doctor’s name so that styles can be applied accordingly.
    <p style="padding: 0px 10px 10px 0px; margin-left: 3em; margin-top: 1em; background:white;">    For example markup=true will display like this:
            &lt;span class="sc-name”&gt; John M. Smith&lt;/span&gt;,
            &lt;span class="sc-postfix"&gt;DDS, MS&lt;/span&gt;
            or &lt;span class="sc-name"&gt;David W. Parks&lt;/span&gt;,
            &lt;span class="sc-postfix"&gt;DMD&lt;/span&gt;
    </p>
    </li>
    <li><strong>conjunction</strong> (string): If using this shortcode with multiple members the string passed in to this attribute will conjoin them.
    <p style="padding: 0px 10px 10px 0px; margin-left: 3em; margin-top: 1em;">    - For example conjunction=‘with’ will display like this:

            - John M. Smith, DDS, MS with David W. Parks, DMD
    </p>
    </li><li><strong>append</strong> (string): Appends the string to the end of the shortcode.
    <p style="padding: 0px 10px 10px 0px; margin-left: 3em; margin-top: 1em; background:white;">    - For example append=‘offers’ will display like this:

            - John M. Smith, DDS, MS or David W. Parks, DMD offers
    </p>
    </li>
    <li><strong>bold</strong> (true/false): Renders the doctor name(s) in bold.</li>
    <p>&nbsp;</p>
    <hr>
    <h2><a id="officehours" name="officehours"></a>Office Hours Shortcode</h2>
    <p>[OFFICE_HOURS]</p>
    <p>The mark up for office hours will be rendered with schema only if the “Enable Schema” setting is enabled.</p>
    <p>Office Hours are also available for SEO Footer enable themes as a snippet.</p>
    <h3>The optional attributes for this shortcode are:</h3>
    <ul>
    <li><strong>id</strong> (string): the id of the office you wish to render the hours for. If no id is specified, the hours for the first office will be rendered.</li>
    <li><strong>show_name</strong> (true/false): render the office name above the hours. Default is false.</li>
    <li><strong>label</strong> (string): The heading that will appear above the hours. Default is “Office Hours”.</li>
    <li><strong>grouping</strong> (true/false): when grouping is true, the hours will be render in a more compact manner as opposed to a list item for every day of the week. Default is true.
    <p style="padding: 10px 10px 10px 10px; margin-left: 3em; margin-top: 1em; word-break: keep-all; background: white;"><p><strong>For example</strong> if the hours are entered as “8:00AM-4:30PM” for Monday, Tuesday, Wednesday, Thursday and “9:00AM-3:30PM” for Friday, the office hours will render like:</p>
    <p>Monday through Thursday:   8:00 AM - 4:30 PM</p>
    <p>Friday:                    9:00 AM - 3:30 PM</p>
    </p>
    </li>
    </ul>
    </ul></div>
    <hr>
    <h2><a id="informedConsentList" name="informedConsentList"></a>Informed Consent Videos List Version Shortcode</h2>
    <p>[INFORMED_CONSENT_LIST_PANEL]</p>
    <p>Prints a list of videos instead of the module version.</p>
    <h3>The optional attributes for this shortcode are:</h3>
    <ul>
    <li><strong>disable</strong> (string): List the videos you do not wish to appear in the generated list of videos.
    <p>Example: [INFORMED_CONSENT_LIST_PANEL disable=“tmj,ortho”] <br>
    <p>implant = multiple implants</p>
    <p>single_stage = single implant</p></p></li>
    </ul>
    <hr>
    <h2><a id="colorpicker" name="colorpicker"></a>Braces Color Picker</h2>
    <p>[BRACES_COLOR_PICKER]</p>
    <div class="module aligncenter">
        <hr>
    <h2>Color Picker</h2>
    <p>Click on the image below to launch the braces color picker. It will launch our module in a separate window and may help you select which colors you'd like your braces to be.</p>
    <p class="text_center">
    <a href="http://products.pbhs.com/_procedural-ortho/games/color-picker.html" rel="shadowbox;width=520;height=570"><img src="http://products.pbhs.com/_procedural-ortho/games/buttons/braces-picker-thumb.jpg" alt="" width="250" height="175" border="0"><br>
    Launch the Color Picker</a></p>
    <p>
    <strong>Instructions:</strong> Click on a color, then click either directly on the teeth or on one of the tooth selections to change the color.
    </p>
    </div>
    <p>Replaces the old braces color picker with a more versatile version.</p>
    </div>





    </div>
</div>





<script src="//assets.codepen.io/assets/common/stopExecutionOnTimeout-53beeb1a007ec32040abaf4c9385ebfc.js"></script>
<script>(function () {
    'use strict';
    document.body.addEventListener('click', copy, true);
    function copy(e) {
        var t = e.target, c = t.dataset.copytarget, inp = c ? document.querySelector(c) : null;
        if (inp && inp.select) {
            inp.select();
            try {
                document.execCommand('copy');
                inp.blur();
                t.classList.add('copied');
                setTimeout(function () {
                    t.classList.remove('copied');
                }, 1500);
            } catch (err) {
                alert('please press Ctrl/Cmd+C to copy');
            }
        }
    }
}());
//# sourceURL=pen.js
</script>
