<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "gio.jpg" %>
	</div>

	<div id="content">
		<h1>How to Use This app </h1>
		<ol>
			<li>Lorem Ipsum Dolor</li>
			<li>Lorem Ipsum Dolor</li>
			<li>Lorem Ipsum Dolor</li>
			<li>Lorem Ipsum Dolor</li>
			
		</ol>
	</div>
</div>