<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "#{}" %>
	</div>

	<div id="content">
		<h1>How to Use This app </h1>
		<ol>
			<li>First Of all, The PBHS SHORTCODE page should be self explanatory! Click "Copy Me"</li>
			<li>Be A good User! Make code snipits that could help other users copy / paste faster!</li>
			<li>Put The snipits in the right category!</li>		
		</ol>
		<h2>...</h2>
		<h2>This Project is still in development! I'm working on addiing better functionality / Features - Gio</h2>
	</div>
</div>