<!DOCTYPE html>
<html>
<head>
  <title>Clipboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<img src="http://www.ada.org/~/media/ADA/Publications/ADA%20News/Images/PBHS_logo_white.ashx">

<p>^^^ill fix later lol</p>
<%= yield %>

</body>
</html>
